
@{
    ViewBag.Title = "Account Settings & Information";
}

<section class="scrolling-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Account Settings and Information</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-lg-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Settings", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Full Name", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBox("Name", "", new { @class = "form-control" })
                                @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Address", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBox("Address1", "", new { @class = "form-control" })
                                @Html.ValidationMessage("Address1", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(" ", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBox("Address2", "", new { @class = "form-control" })
                                @Html.ValidationMessage("Address2", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("City", new { @class = "col-md-4 control-label" })
                            <div class="col-md-4">
                                @Html.TextBox("City", "", new { @class = "form-control" })
                                @Html.ValidationMessage("City", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("State", new { @class = "col-md-4 control-label" })
                            <div class="col-md-2">
                                @Html.TextBox("State", "", new { @class = "form-control" })
                                @Html.ValidationMessage("State", "", new { @class = "text-danger" })
                            </div>
                            @Html.Label("Zip", new { @class = "col-md-1 control-label" })
                            <div class="col-md-2">
                                @Html.TextBox("Zip", "", new { @class = "form-control" })
                                @Html.ValidationMessage("Zip", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Email Address", new { @class = "col-md-4 control-label" })
                            <div class="col-md-4">
                                @Html.TextBox("Email", "", new { @class = "form-control" })
                                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" value="SAVE" class="btn btn-primary btn-block" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-7">
                                <a class="btn btn-info btn-block" href="/Account/PaymentInformation"><strong>Update Payment Information</strong></a>
                            </div>
                        </div>
                    }
                </section>

            </div>
        </div>
    </div>
</section>


